/* ----------------------------------------- CSS NAVBAR START----------------------------------*/
#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

#smalltitle {
    font-family: Arial, Helvetica, sans-serif;
    margin: 21px 5px;
    font-size: 20px;
    font-weight: bold;
}

.boton-home {
    outline: none;
    padding: 0;
    margin: 15px;
    background-color: transparent;
    text-align: left;
    color: wheat;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}

.boton-home:hover {
    color: white;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    transform: scale(1);
}

.boton-adopcion {
    border: none;
    background-color: transparent;
    color: wheat;
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    user-select: none;
    cursor: pointer;
    margin-right: 20px;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}

.boton-unite {
    border: none;
    background-color: transparent;
    color: wheat;
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    user-select: none;
    cursor: pointer;
    margin-left: 20px;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}

.boton-adopcion:hover {
    color: white;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.boton-unite:hover {
    color: white;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.botones-derecha {
    margin: 0px 100px 0px 100px;
}

#barra {
    background-color: steelblue;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
}

#navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
}


.botones-container {
    background-color: rgb(63, 63, 63);
    border: 1px solid black;
    color: black;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    float: left;
    width: 100%;
    justify-content: space-around;
}

.botones-container .nav-button:not(:last-child) {
    border-right: none;
}

.nav-button {
    padding: 10px 30px;
    display: block;
    color: wheat;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
    background-color: transparent;
    text-decoration: none;
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    border-top: 0;
    border-bottom: 0;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    user-select: none;
}

#fb {
    border-left: 0;
    border: 0;
}

#lb {
    border-right: 0;
}

.nav-button a {
    text-decoration: none;
    cursor: pointer;
    color: wheat;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}

.nav-button a:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

@media (max-width: 1250px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 740px) {
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.info-gatos img {
    display: flex;
    margin: 0 auto;
    padding: 15px;
    max-width: 80%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: transparent;
}

.info-gatos {
    text-align: left;
    margin-bottom: 0px;
    flex: 1;
}

.info-gatos p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: left;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}

.secciones-salud {
    text-align: left;
    margin-bottom: 0px;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: left;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}
.terminos-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}
.terminos-container h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.terminos-container a{
    text-decoration: none;
    color: steelblue;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}
.terminos-container a:hover{
    color: wheat;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}
.lista {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 15px;
    font-size: larger
}
.lista-terminos{
    width: 80%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 15px;
    font-size: larger;
    
}
.lista-condiciones {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 15px;
}

.lista-condiciones a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: steelblue;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.lista-condiciones a:hover {
    color: wheat;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.secciones-salud h1,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: left;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
    color: wheat;
}

/* ----------------------------------------- CARDS END----------------------------------*/
/* ----------------------------------------- FOOTER ----------------------------------*/
footer {
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    background-color: steelblue;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: wheat;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

footer a:hover {
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}