/* Estilos CSS */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161515;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
}
.container .logo a{
    margin-left: 20px;
    border-radius: 60px;
}

.nav-container{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    color: coral;
    margin: 100px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

/**/
.menu li a {
    color: #faf9fd;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu li ul a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.menu li ul a:hover{
    color: #1CB698;
}

/**/

.menu .dropdown {
    position: relative;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #007bff;
    z-index: 1;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.menu .dropdown:hover .dropdown-content {
    display: block;
}

.arrow-down {
    font-size: 12px;
    margin-left: 5px;
}

.nav-container .redes ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

.redes li a {
    color: #faf9fd;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    
}

/*CARDS*/

.full-container{
    width: 50%;
    height: 50vh;
    background-color: rgb(239, 237, 240);
    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: flex-wrap;
}
.card-container{
    background-color: rgb(255, 255, 255);
    background-size: contain;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin-left: 50px;
    margin-right: 50px;
    display : flex;
    flex-direction: column;
    height: 50%;
}
.img-container{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.img-container img{
    width: 50%;
    height: 50%;
    margin-bottom: 25px;
}
.content-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.btn-container{
    display:flex;
}
.btn{
    width: 90%;
    color: rgba(0, 0, 0, 0.5);
    background-color: #ffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:50px;
    padding: 10px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: ease 0.3s;
}
h3{
    font-family: "Ysabeau SC";
    margin: 10px 10px;
    opacity: 0.5;
}
p{
    margin: 10px 10px;
    font-family: 'Calligraffitti', cursive;
}

/**/

#main{
    height: 550px;
    width: 100vw;
}
#main .img-fondo{
    width: 100%;
    height: 100%;

}
#main .img-fondo img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#main .texto-portada{
    width: 100%;

}

#main h1{
    top: 50%;
    position: absolute;
    left: 20%;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

/*SECCION PRINCIPAL*/
/*-------LOGO DE PORTADA--------*/
#principal .logo{
    margin: 10px 30px 30px 450px;
    padding: 10px;
    margin-right: -50%;
}

hr{
    height: 1px;
    margin: 20px;
}

/*2da SECCION*/

#section2{
    background-color: #007bff;
    display: flex;
    flex-direction: column;
}
#section2 .container-section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.container-section2 .columna-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.container-section2 .columna-info div{
    width: 50%;
}
.container-section2 .columna-info .img-2{
    width: 100%;
    height: 50%;
    margin-left: 5%;
}
.container-section2 .columna-info p{
    width: 70%;
    text-align: justify;
    margin-left: 20%;
    color: #fff;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section2 h1{
    color: #fff;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-section2 .columna-info img{
    width: 80%;
    margin-right: 10%;
}


/*3ra SECCION*/





/*4ta SECCION*/

#section4{
    background-color: rgb(231, 78, 23);
}



/*7MA SECCION*/

#section7{
    background-color: #007bff;
    display: flex;
    flex-direction: column;
}
#section7 .container-section7{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.container-section7 .columna-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.container-section7 .columna-info div{
    width: 50%;
}
.container-section7 .columna-info .img-2{
    width: 100%;
    height: 50%;
    margin-left: 5%;
}
.container-section7 .columna-info p{
    width: 70%;
    text-align: justify;
    margin-left: 20%;
    color: #fff;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section7 h1{
    color: #fff;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-section7 .columna-info img{
    width: 80%;
    margin-right: 10%;
}
