/* ----------------------------------------- CSS NAVBAR START----------------------------------*/
a {
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

#smalltitle {
    font-family: Arial, Helvetica, sans-serif;
    margin: 21px 5px;
    font-size: 20px;
    font-weight: bold;
}

.boton-home:hover {
    color: wheat;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    transform: scale(1);
}

.boton-adopcion {
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 21px 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.boton-adopcion a {
    color: #faf9fd;
    text-decoration: none;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin: 21px 5px;
    font-size: 20px;
    font-weight: bold;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}

.btnlogin-popup {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: larger;
    font-family: 'Oswald', sans-serif;
    outline: none;
    user-select: none;
    cursor: pointer;
    margin-left: 20px;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}

.boton-adopcion:hover {
    color: wheat;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.btnlogin-popup:hover {
    color: wheat;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.botones {
    display: flex;
    width: 35%;
    align-items: center;
    margin-right: 30px;
    margin: 0;
    text-decoration: none;
}
.botones a{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    outline: none;
    user-select: none;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.5s ease, text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}
.botones a:hover{
    color: wheat;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

#barra {
    background-color: steelblue;
    padding: 0;
    margin: 0;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.logo {
    width: 30%;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 21px 5px; */
    font-size: 20px;
    font-weight: bold;
    /* margin-right: 20px; */
}

.logo img {
    height: 90px;
    border-radius: 50%;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.botones-container {
    padding-left: 40px;
    display: flex;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #33aad9;
    margin-bottom: 0;
}

.botones-container ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.botones-container ul li {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    color:white;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}
.botones-container ul li a{
    color:white;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}
.botones-container ul li a:hover{
    cursor: pointer;
    color: wheat;
    transition: .2s ease;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}



.nav-button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
    background-color: transparent;
    text-decoration: none;
    border: 0;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 31px;
    user-select: none;
    list-style: none;
}

#fb {
    border-left: 0;
    border: 0;
}

#lb {
    height: 90px;
    border-right: 0;
}

.nav-button a {
    font-size: 1.3rem;
    font-family: 'Oswald';
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}

.nav-button a:hover {
    text-decoration: none;
    cursor: pointer;
    color: wheat;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

#btnlogin-popup {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    outline: none;
    user-select: none;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.5s ease, text-shadow 0.3s ease, color 0.3s ease;
    transition-duration: 0.4s;
}

#btnlogin-popup:hover {
    color: wheat;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.wrapper {
    z-index: 2;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    height: 500px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height (.2s);
    transition: transform .5s ease, height .2s ease;
    max-width: 100%;
}



.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;

}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}


.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2rem;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn-submit {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* ----------------------------------------- CSS NAVBAR END----------------------------------*/
/* ----------------------------------------- CARDS START ----------------------------------*/
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    grid-gap: 20px;
    grid-column-gap: 15%;
    margin: 0 auto;
    justify-content: center;
}

@media (max-width: 1250px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 740px) {
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.card {
    width: 300px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    position: relative;
    padding-bottom: 30px;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    display: flex;
    align-items: center;
    padding: 5px;
}

.card-image img {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    padding: 0;
    margin-bottom: 10px;
}

.card-info {
    align-self: center;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    margin: 0px;
    user-select: none;
}

.card-info p {
    margin: 10px 0;
}

.card-info h3 {
    color: wheat;
    font-size: 25px;
    margin: 0;
    border: 2px solid steelblue;
    border-radius: 12px;
    background-color: steelblue;
}

.card-href {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    user-select: none;
    transition: background-color 0.3s ease;
    transition-duration: 0.3s;
    position: absolute;
    bottom: 10px;
}

.card-href:hover {
    background-color: wheat;

}

/* ----------------------------------------- CARDS END----------------------------------*/
/* ----------------------------------------- FOOTER ----------------------------------*/
footer {
    bottom: 0;
    width: 100%;
    padding: 20px 0 0 0;
    margin: 0;
}

footer p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    background-color: steelblue;
    padding: 0;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: wheat;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

footer a:hover {
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}